.account-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.frame450 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  position: absolute;
  top: 232px;
}

.frame450m {
  width: 999px;
  height: 59px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ctaButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 32px;
  position: absolute;
  width: 262px;
  height: 56px;
  left: 858px;
  top: 0px;
  background: #8367d8;
}

.vectorPlus {
  /*position: absolute;*/
  left: 16.67%;
  right: 16.67%;
  top: 16.67%;
  bottom: 16.67%;
  color: #ffffff;
}

.addItemText {
  width: 79px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tabSettings {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  position: absolute;
  width: 145px;
  height: 56px;
  left: 577px;
  top: 0px;
  border: 1px solid #d8d8d8;
}

.settingsText {
  width: 57px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tabWishList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  position: absolute;
  /*width: 146px;
  height: 56px; */
  left: 417px;
  top: 0px;
}

.wishlistText {
  width: 58px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tabBids {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  position: absolute;
  width: 119px;
  height: 56px;
  left: 287px;
  top: 0px;
  border: 1px solid #d8d8d8;
}

.bidsText {
  width: 31px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tabSeller {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  position: absolute;
  width: 128px;
  height: 56px;
  left: 147px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
}

.tabIcon {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sellerText {
  width: 40px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tabProfile {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  position: absolute;
  width: 134px;
  height: 56px;
  left: 0px;
  top: 0px;
  background: #8367d8;
}

.profileText {
  width: 46px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame449 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 24px;
  width: 1120px;
  /*height: 2095px;*/
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame447 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1120px;
  /*height: 2020px;*/
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame441 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px 64px;
  gap: 24px;
  width: 1120px;
  height: 756px;
  border: 1px solid #d8d8d8;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame380 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 0px 16px 32px;
  gap: 43px;
  width: 1120px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame440 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 0px 0px 24px;
  gap: 88px;
  width: 1026px;
  height: 612px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame379 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 75px;
  width: 148px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame378 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 68px;
  width: 148px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame377 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 224px;
  width: 148px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame376 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 148px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.pInformationText {
  width: 150px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame423 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 354px;
  height: 437px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.group162 {
  width: 354px;
  height: 354px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.image8 {
  /*position: absolute;*/
  width: 360px;
  height: 360px;
  left: -3px;
  top: -3px;
  background: url("/public/image_8.png");
  box-sizing: border-box;
  border-radius: 50%;
  background-size: cover;
}

.goText {
  width: 100px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame415 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 546px;
  height: 612px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.inputF {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 546px;
  height: 103px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fnText {
  width: 120px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame239 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 42px 18px 24px;
  gap: 10px;
  width: 546px;
  height: 63px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.inputF input::placeholder {
  width: 150px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #9b9b9b;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame438 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px;
  gap: 24px;
  width: 546px;
  height: 104px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.frame239d {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  width: 166px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.dateInputDD {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 166px;
  height: 104px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.dateInputMM {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 166px;
  height: 64px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.dateInputYYYY {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 166px;
  height: 64px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.dateInput input::placeholder {
  width: 25px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #9b9b9b;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.inputPhoneNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 546px;
  height: 103px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.phoneNumberText {
  width: 108px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame439 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 546px;
  height: 63px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame239Phone {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 42px 18px 24px;
  gap: 10px;
  width: 361px;
  height: 63px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame240 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  gap: 10px;
  width: 185px;
  height: 63px;
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.notVerified {
  width: 84px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #cc0000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ctaSaveInfo {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 16px;
  width: 146px;
  height: 51px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.saveInfoButton {
  width: 82px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

.group160 {
  position: absolute;
  width: 1440px;
  height: 60px;
  left: 0px;
  top: 132px;
}

.profileT {
  position: absolute;
  width: 47px;
  height: 24px;
  left: 160px;
  top: 150px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
}
