@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.login_page {
  box-sizing: border-box;
  position: relative;
  width: 1440px;
  height: 1371px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
}

.reactangle11 {
  box-sizing: border-box;
  position: absolute;
  width: 1440px;
  height: 1px;
  left: 0px;
  top: 132px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
}

.auction-app-logo {
  width: 163px;
  height: 56px;
  background: url();
  flex: none;
  order: 0;
  flex-grow: 0;
}

.reactangle16 {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #252525;
}

.frame184l {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 738px;
  height: 756px;
  left: 351px;
  top: 173px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
}

.frame180l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 64px;
  gap: 48px;
  width: 738px;
  height: 756px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.loginTitle {
  width: 78px;
  height: 36px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.84px;
  color: #252525;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame178l {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 23px 301px;
  gap: 10px;
  width: 738px;
  height: 82px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame179l {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  width: 548px;
  height: 490px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame185l {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 548px;
  height: 66px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame269 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 548px;
  height: 148px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ctaGmailL {
  box-sizing: border-box;
  width: 250px;
  height: 66px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.loginWithGmail {
  position: relative;
  width: 119px;
  height: 24px;
  left: 74px;
  top: 19.5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
}

.imageGmail {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 415px;
  top: 625px;
  background: url("https://pluspng.com/img-png/letter-g-hd-png-open-2000.png");
  background-size: cover;
}

.ctaFbL {
  box-sizing: border-box;
  width: 274px;
  height: 66px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.image6Fbl {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 116px;
  top: 625px;
  background: url("https://th.bing.com/th/id/R.6be2bd4115d632875cb39aacad994263?rik=vv7dgFoUnNq80A&riu=http%3a%2f%2frobverschoor.nl%2fmedia%2fimages%2ffacebook-flat-vector-logo-400x400.png%3fep%3dgKCJaqyBFCmMK1YLvp6sz-i8MYoVeJi_GWv-PezkjTO-6YIo--64SF0FzC22b-W3tk1GhB-oy836Nepwsn77SQ%2c%2c&ehk=x7TSjkpe9S2LvjLkxAaJ%2fagxjH5brsr1B6uV1%2frpAmE%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
}

.ctaLog {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 56px;
  gap: 40px;
  width: 548px;
  height: 56px;
  background: #8367d8;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.loginWithFb {
  position: relative;
  width: 147px;
  height: 24px;
  left: 74px;
  top: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
}

.logButton {
  width: 39px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame270 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 548px;
  height: 280px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.inputFirstName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 548px;
  height: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.inputLastName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 548px;
  height: 100px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.inputEmailL {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 548px;
  height: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.inputPassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 548px;
  height: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.labelText {
  width: 100px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame239 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 42px 18px 24px;
  gap: 10px;
  width: 548px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame181 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 135px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.reactangle39 {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.rememberMe {
  width: 103px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame268 div ::placeholder {
  width: 134px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #9b9b9b;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame186 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 252px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.alreadyText {
  width: 181px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #9b9b9b;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.forgotPassword {
  width: 126px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #8367d8;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame271 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 548px;
  height: 146px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
